/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--back-color);
  background-image: var(--back-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 0;
  right: 0;
}

.decorated-zone::after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  /* bottom: var(--page-padding); */
  bottom: 0;
  left: 0;
}

.header {
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.header__text-decore {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--accent-color);
  position: absolute;
  top: 0;
  right: 28px;
}

.header__text-decore::after {
  content: ' ';
  display: inline-block;  
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 10px;
  vertical-align: middle;
  position: absolute;
  top: 9px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  align-self: center;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0%;
  text-align: center;
  color: var(--accent-color);
  padding: 1.5px 13px;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-active-color);
}

.header__title {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: var(--header-title-font-size);
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--header-title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
}

.text__description {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.text__description-header {
  display: flex;
  align-self: center;
  block-size: min-content;
  grid-row: 3;
}

.title-decor {
  color: var(--header-text-color);
  background: var(--header-text-back-color);
}

.content {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1;
  padding: var(--content-padding);
  gap: var(--content-gap);
}

.content__section {
  display: grid;  
  grid-auto-rows: auto;
  gap: var(--content-section-gap);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--content-text-color);
}

.content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.content__title-section {
  color: var(--content-title-color);
}

.content__card {
  display: flex;
  flex-direction: column;
  gap: var(--content-card-gap);
}

.content__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.content__link {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--content-link-color);
  text-shadow: 1.5px 1.5px var(--content-link-shadow-color);
  text-decoration: none;
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus-visible {
  border: 1px solid var(--content-link-color);
  outline: none;
}

.content__galery {
  display: grid;  
  grid-auto-rows: auto;
  gap: 10px;
}

.content__galery-item {
  object-fit: cover;
  width: 100%;
}

.footer {
  block-size: 100vh;
  min-height: 667px;
  display: grid;
  position: relative;
}

.footer__title {
  font-family: var(--text-font-family);
  align-self: center;
  justify-self: center;
  font-weight: 700;
  font-size: var(--header-title-font-size);
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--header-title-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}